* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
body {
    width: 100vw;
    height: 100vh;
}

/* Container Header */

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    height: 100px;
    border-bottom: 1px solid white;
}

/* Design Header */
header {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    background-attachment: fixed;
    background-color: rgba(56, 56, 56, 0.349);
}

.header_1 ul li a {
    text-decoration: none;
    color: white;
}

.header_1 ul {
    display: flex;
    margin-left: 30px;
}

.header_1 ul li {
    list-style: none;
    margin-left: 30px;
}

.header_2 {
    text-align: center;
    padding: 39px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    width: 80px;
}

.header_2 h1 a {
    text-decoration: none;
    color: white;
}

.header_2 h1 {
    margin-right: 150px;
    font-size: 20px;
}

.header_3 span{
    color: white;
}

.header_3 {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.header_3 > .login {
    width: 20px;
    margin-right: 10px;
}

.header_3 div{
    display: flex;
    margin-left: 15px;
    margin-right: 20px;
}
/* Sections */
section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

.Fond_1 {
    background-image: url(backgrounds/fond.jpg); 
}
.acheter{
    margin: 20px;
}
.acheter button{
    padding: 10px 45px;
    background-color: transparent;
    border: solid 2px white;
    text-transform: uppercase;
}

.Fond_2 {
    background-image: url(backgrounds/blurred-background-coffee-cup-computer-908284-e1551175834552.jpg); 
}

.Fond_3 {
    background: white; 
}

.Fond_4 {
    background-image: url(backgrounds/fond.jpg); 
}

.fond1 h1 {
    color: white;
    font-size: 55px;
}

.fond1 span {
    font-size: 58px;
    font-style: italic;
}

.fond2 h1 {
    color: white;
    font-size: 55px;
}

.fond3 span {
    color: black;
    font-size: 55px;
}

.fond3 img {
    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
}

/* Icones */
.icone {
    width: 20px;
}

.footer_container{
    display: flex;
    bottom: 0;
    height: 600px;
    justify-content: space-around;
    background-color: rgba(56, 56, 56, 0.349);
}
/* Design Footer */
.footer_text{
    margin: 100px;
    width: 250px;
    font-style: italic;
}

.footer_text > h1 {
    font-size: 28px;
    line-height: 40px;
}

.two_container {
    display: flex;
    justify-content: space-between;
    margin-top: 240px;
    text-align: justify;
}

/* Conteneur aide */
.aide {
    width: 200px;
    margin-right: 150px;
}

/* Assembler le titre de chaque menu à son underline */
.two_container h1 + .underline{
    margin-bottom: 30px;
}

.two_container h1 {
    font-size: 20px;
    font-style: italic;
}

/* Création underline */
.underline::before {
    content: "————————————";
}

.follow {
    width: 200px;
}
/* Espacement et stylisation des menus */
.two_container ul li{
    list-style: none;
    margin-top: 10px;
}

.two_container ul {
    padding-bottom: 10px;
}
/* Newsletter container */
.Newsletter {
    display: flex;
    align-self: flex-end;
    transform: translate(-95%,-100%);
}

/* Customisation Newsletter boxes */
/* problème avec alignement de saissiez votre mail */
.Newsletter input {
    padding: 10px 150px;
    border: 1px black solid;
    width: 100%;
    box-sizing: border-box;
}

.Newsletter button {
    margin-left: 10px;
    padding: 10px 60px;
    background-color: rgb(82, 80, 80);
    color: white;
}


